spring:
  application:
    name: scheduler-poc
  messages:
    basename: messages
    encoding: UTF-8

  # 데이터소스 설정
  datasource:
    hikari:
      maximum-pool-size: 30 # Quartz Thread(20) + Web Request 여유분(10)
    url: jdbc:h2:mem:schedulerdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:

  # JPA 설정
  jpa:
    defer-datasource-initialization: true # 초기 데이터 로딩 시 필요할 수 있음
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  # H2 Console 설정
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true # 외부 접속 허용 (필요시)

  # Quartz 설정
  quartz:
    properties:
      org:
        quartz:
          threadPool:
            threadCount: 20  # 동시 실행 Job이 많다면 상향 조정
          scheduler:
            batchTriggerAcquisitionMaxCount: 5 # 한 번에 5개씩 가져옴

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Seoul

server:
  port: 8093

management:
  endpoint:
    health:
      show-details: always  # 추가
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: shutdown, health, info


app:
  scheduler:
    use-meta-table: true          # Job 등록/삭제 시 DB 사용
    check-meta-on-execute: true   # 실행 시 DB 조회
    max-skip-count: 5             # Skip 최대 개수
    timeout-seconds: 3600         # 타임아웃 (1시간)
